
main {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

/* styles for the table based board */
.board {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
  .board td,
  .board tr {
    width: 33.3%;
    height: 33.3%;
  }
  .board td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    font-size: 5em;
    text-align: center;
  }

  .board td:last-child {
    border-right: 0;
  }

  .board tr:last-child td {
    border-bottom: 0;
  }

  /* Styles for the div based board */
  .divBoard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
  }
  .divBoard > div {
    /* border-right: 1px solid;
    border-bottom: 1px solid; */
    border: 1px solid;
    font-size: 5em;
    text-align: center;
  }
  /* .divBoard > div:nth-child(3n) {
    border-right: 0;
  }
  .divBoard > div:nth-child(n + 7) {
    border-bottom: 0;
  } */