@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 246, 248);
}

 main {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

header {
    border-bottom: 2px solid rgb(36, 36, 153);
    padding: 10px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin: 0px;
    padding: 10px;
}

ol.NavList {
    list-style-position: inside;
    padding: 0px;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
}

ol.NavList li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    padding: 10px;
}

ol.NavList li:first-child {
    margin-top: 20px;
}

ol.NavList li:last-child {
    margin-bottom: 20px;
}

ol.NavList li:hover {
    background-color: #f2f2f2;
    border-radius: 10px;
}

li a {
    font-weight: 500;
}

li a:visited {
    font-weight: 500;
    color: #022b77;
}

a:link {
    text-decoration: none;
}
