
/*===============================================
-------------------------------------------------
image hover styles
-------------------------------------------------
================================================*/

/* =========== image hovers============= */

/*image hover style 1
 ------------------------------ */
.img-hover-holder-1 {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 0px;
	float: left;
	border: 1px solid #e4e4e4;
}
.img-hover-1 {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	z-index:1;
	top:0px;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.img-hover-1 img {
	position: relative;
	top:0px;
	transition: all 0.3s ease-out 0s;
}
.img-hover-1 .text-box {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 20px;
	margin: 0px;
	float: left;
	z-index:0;
	transition: all 0.3s ease-out 0s;
	background-color:#fd602c;
}
.img-hover-holder-1:hover .img-hover-1 img {
	top:215px;
}

/*image hover style 2
 ------------------------------ */
.img-hover-holder-2 {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 0px;
	float: left;
	border: 1px solid #e4e4e4;
}
.img-hover-2 {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	z-index:0;
	top:0px;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.img-hover-2 .text-box {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 20px;
	margin: 0px;
	float: left;
	z-index:1;
	opacity:0;
	transition: all 0.3s ease-out 0s;
	background-color:rgba(0, 0, 0, 0.5);
}
.img-hover-2 .text-box .icon-1 {
	position: absolute;
	width: 50px;
	height: 50px;
	float:left;
	top: -53px;
	left:60px;
	padding: 0px;
	margin: 0px;
	color:#fff;
	line-height:50px;
	text-align:center;
	margin-right:20px;
	background-color: #fd602c;
	border-radius: 100%;
}
.img-hover-2 .text-box .icon-1.two {
	left:119px;
	top: -53px;
}
.img-hover-2 .text-box .icon-1:hover, .img-hover-2 .text-box .icon-2:hover {
	color:#242424;
	background-color: #fff;
}

.img-hover-holder-2:hover .text-box {
	opacity:1;
}
.img-hover-holder-2:hover .text-box .icon-1 {
	top: 80px;
}
.img-hover-holder-2:hover .text-box .icon-1.two {
	top: 80px;
	transition: all 0.5s ease-out 0s;
}



/*image hover style 3
 ------------------------------ */
.img-hover-holder-3 {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 0px;
	float: left;
	border: 1px solid #e4e4e4;
}
.img-hover-3 {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	z-index:0;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.img-hover-3 .text-box {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 20px;
	margin: 0px;
	float: left;
	z-index:1;
	left:-251px;
	transition: all 0.3s ease-out 0s;
	background-color:rgba(0, 0, 0, 0.7);
}
.img-hover-3:hover .text-box {
	left:0;
}

/*image hover style 4
 ------------------------------ */
.img-hover-holder-4 {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 0px;
	float: left;
	border: 1px solid #e4e4e4;
}
.img-hover-4 {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	z-index:0;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.img-hover-4 .text-box {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 10px 20px 20px 20px;
	margin: 0px;
	float: left;
	z-index:1;
	top:154px;
	transition: all 0.3s ease-out 0s;
	background-color:rgba(0, 0, 0, 0.7);
}
.img-hover-4:hover .text-box {
	top:0;
}

/*image hover style 5
 ------------------------------ */

.view {
   width: 100%;  
   margin: 0px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}
.view .mask, .view .content {
   width: 100%;
   height: 300px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   background:url(img/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.effect img {
   opacity:1;
   -moz-transform:scale(1,1);
   -webkit-transform:scale(1,1);
   -o-transform:scale(1,1);
   -ms-transform:scale(1,1);
   transform:scale(1,1);
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.effect .mask {
   opacity:0;
   overflow:visible;
   border-color:rgba(0,0,0,0.7) transparent transparent transparent;
   border-style:solid;
   border-width:127px;
   width:0;
   height:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.effect a.info {
	opacity:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;

}
.effect:hover img {
	opacity:0.7;
   -moz-transform:scale(2,2);
   -webkit-transform:scale(2,2);
   -o-transform:scale(2,2);
   -ms-transform:scale(2,2);
   transform:scale(2,2);
}
.effect:hover .mask {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.effect:hover a.info {
	opacity:1;
   -moz-transform:translateY(80px);
   -webkit-transform:translateY(80px);
   -o-transform:translateY(80px);
   -ms-transform:translateY(80px);
   transform:translateY(80px);
}


.second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.second-effect a.info {
	position:relative;
	top:-10px;
	opacity:0;
   -moz-transform:scale(0,0);
   -webkit-transform:scale(0,0);
   -o-transform:scale(0,0);
   -ms-transform:scale(0,0);
   transform:scale(0,0);
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.second-effect:hover .mask {
   opacity: 1;
   border:127px solid rgba(0,0,0,0.7);
}
.second-effect:hover a.info {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}

/*image hover Effects
 ------------------------------ */

.hover_box{
		float:left;
		margin:0px;
		width:100%;
		height:263px;
		border:2px solid #555;
		overflow:hidden;
		
		
	}
	.details{
		width:100%;
		height:263px;
		background:#000;
		color:#fff;
		text-align:center;
	}
	.details h3{ margin-top:20px; color:#fff; font-size:20px;}
	#img-hover-holder-5 img {
		-webkit-transform: scale(1);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 500ms;
	}
	#img-hover-holder-5 img:hover{
		-webkit-transform: scale(.5);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 500ms; 
	}
	
	#img-hover-holder-6{position:relative;}
	#img-hover-holder-6 img{
		position:absolute;
		top:0;
		left:0;		
		-webkit-transition: margin-left;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-duration: 250ms;
	}
	#img-hover-holder-6:hover img{
		margin-left:270px;
	}
	#img-hover-holder-6 .details{
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
	}
	
	#img-hover-holder-7{position:relative;}
	#img-hover-holder-7 .details{
		opacity: 0;
		position:absolute;
		top:0;
		left:0;
		margin-left:-280px;		
		-webkit-transition: margin-left;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-duration: 250ms;
	}
	#img-hover-holder-7:hover .details{
		margin-left:0;
		opacity: .9;
	}
	#img-hover-holder-8{
		position:relative;
	}
	#img-hover-holder-8 img{
		position:absolute;
		top:0;
		left:0;
		z-index:0;
	}
	#img-hover-holder-8 .details{
		opacity: .9;
		position:absolute;
		top:100;
		left:150;
		z-index:999;
		-webkit-transform: scale(0);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 250ms;
	}
	#img-hover-holder-8:hover .details{
		-webkit-transform: scale(1);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 250ms; 
	}

/*===============================================
-------------------------------------------------
	Button styles
-------------------------------------------------
================================================*/

/* =========== Buttons ============= */

/*Button style
 ------------------------------ */
 
.sh-btn{
	padding: 15px 35px;
	margin: 0px;
	display: inline-block;
	box-shadow: none;
	border-radius: 0; 
}
/*Button border radius
 ------------------------------ */
.sh-btn.sh-btn-round{
	border-radius:4px;
}
.sh-btn.sh-btn-xround-1{
	border-radius:10px;
}
.sh-btn.sh-btn-xround-2{
	border-radius:20px;
}
.sh-btn.sh-btn-xround-3{
	border-radius:30px;
}
.sh-btn.sh-btn-xround-4{
	border-radius:40px;
}
.sh-btn.sh-btn-xround-5{
	border-radius:50px;
}
.sh-btn.sh-btn-xround-6{
	border-radius:60px;
}
.sh-btn.sh-btn-xround-7{
	border-radius:70px;
}
/*Button sizes
 ------------------------------ */
 .sh-btn.sh-btn-tiny{
	font-size:12px;
	padding: 5px 10px;
}
.sh-btn.sh-btn-small{
	font-size:14px;
	padding: 10px 20px;
}
.sh-btn.sh-btn-medium{
	font-size:16px;
	padding: 15px 35px;
}
.sh-btn.sh-btn-large{
	font-size:20px;
	padding: 20px 50px;
}
.sh-btn.margin{
	margin:0 15px 15px 0;
}
/*Button Colors
 ------------------------------ */
 
 /*Button dark
 ------------------------------ */
.sh-btn.sh-btn-dark{
	color:#fff;
	background-color:#242424;
}
.sh-btn.sh-btn-dark:hover{
	color:#fff;
	background-color:#3e3e3e;
}  
 /*Button white
 ------------------------------ */
.sh-btn.sh-btn-white{
	color:#242424;
	background-color:#fff;
}
.sh-btn.sh-btn-white:hover{
	color:#242424;
	background-color:#f6f6f6;
} 
 /*Button orange
 ------------------------------ */
.sh-btn.sh-btn-orange{
	color:#fff;
	background-color:#ff4200;
}  
.sh-btn.sh-btn-orange:hover{
	color:#fff;
	background-color:#242424;
} 
 
 /*Button blue
 ------------------------------ */
.sh-btn.sh-btn-blue{
	color:#fff;
	background-color:#3174f1;
}  
.sh-btn.sh-btn-blue:hover{
	color:#fff;
	background-color:#242424;
} 
 /*Button green
 ------------------------------ */
.sh-btn.sh-btn-green{
	color:#fff;
	background-color:#249a41;
}  
.sh-btn.sh-btn-green:hover{
	color:#fff;
	background-color:#242424;
} 
 /*Button yellow
 ------------------------------ */
.sh-btn.sh-btn-yellow{
	color:#fff;
	background-color:#fbb002;
}  
.sh-btn.sh-btn-yellow:hover{
	color:#fff;
	background-color:#242424;
}
 /*Button red
 ------------------------------ */
.sh-btn.sh-btn-red{
	color:#fff;
	background-color:#e63125;
}  
.sh-btn.sh-btn-red:hover{
	color:#fff;
	background-color:#242424;
}
 /*Button pink
 ------------------------------ */
.sh-btn.sh-btn-pink{
	color:#fff;
	background-color:#930050;
}  
.sh-btn.sh-btn-pink:hover{
	color:#fff;
	background-color:#242424;
}

/*Button Borders
 ------------------------------ */

/* button borders
 ------------------------------ */
.sh-btn.sh-btn-border {
	color: #242424;
	border: 2px solid;
}
/* button border white
 ------------------------------ */
.sh-btn.sh-btn-border.white {
	color:#fff;
	border-color:#fff;
}
.sh-btn.sh-btn-border:hover.white {
	color:#242424;
	background-color:#fff;
	border-color:#fff;
}
/* button border dark
 ------------------------------ */
.sh-btn.sh-btn-border.dark {
	color:#242424;
	border-color:#242424;
}
.sh-btn.sh-btn-border:hover.dark {
	color:#fff;
	background-color:#242424;
	border-color:#242424;
}
/* button border red
 ------------------------------ */
.sh-btn.sh-btn-border.red {
	color:#fd4912;
	border-color:#e63125;
}
.sh-btn.sh-btn-border:hover.red {
	color:#fff;
	background-color:#e63125;
	border-color:#e63125;
}
/* button border orange
 ------------------------------ */
.sh-btn.sh-btn-border.orange {
	color:#ff4200;
	border-color:#ff4200;
}
.sh-btn.sh-btn-border:hover.orange {
	color:#fff;
	background-color:#ff4200;
	border-color:#ff4200;
}
/* button border yellow
 ------------------------------ */
.sh-btn.sh-btn-border.yellow {
	color:#fbb002;
	border-color:#fbb002;
}
.sh-btn.sh-btn-border:hover.yellow {
	color:#fff;
	background-color:#fbb002;
	border-color:#fbb002;
}
/* button border green
 ------------------------------ */
.sh-btn.sh-btn-border.green {
	color:#249a41;
	border-color:#249a41;
}
.sh-btn.sh-btn-border:hover.green {
	color:#fff;
	background-color:#249a41;
	border-color:#249a41;
}
/* button border blue
 ------------------------------ */
.sh-btn.sh-btn-border.blue {
	color:#3174f1;
	border-color:#3174f1;
}
.sh-btn.sh-btn-border:hover.blue {
	color:#fff;
	background-color:#3174f1;
	border-color:#3174f1;
}



/*===============================================
-------------------------------------------------
	Call to action
-------------------------------------------------
================================================*/

/* =========== call to action ============= */

/*call to action
 ------------------------------ */
 
.call-to-action {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    float: left;
    margin: 0 0 15px;
    padding: 25px;
    width: 100%;
}



/*===============================================
-------------------------------------------------
	lists
-------------------------------------------------
================================================*/

/* list style 1
 ------------------------------ */
 
.list-style-1 {
	width: 100%;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	float: left;
}
.list-style-1 .icon {
	width: 32px;
	height: 32px;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	float: left;
	text-align: center;
	line-height: 32px;
	color: #fff;
	border-radius: 100%;
	background-color: #06d0d8;
}
.list-style-1 .text {
	padding: 5px 0 0 42px;
	margin: 0px;
	display: block;
}

/* list style 1 with border
 ------------------------------ */
.list-style-1.icon-border .icon {
	color:#06d0d8;
	background-color: #fff;
	border:1px solid #06d0d8;
}

/* list style 2
 ------------------------------ */
.list-style-2 {
	width: 100%;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	float: left;
}
.list-style-2 .icon {
	width: 18px;
	height: 18px;
	padding: 0px;
	margin: 3px 0px 0px 0px;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	color: #06d0d8;
	border-radius: 100%;
	border: 1px solid #06d0d8;
}
.list-style-2 .text {
	padding: 0px 0 0 28px;
	margin: 0px;
	display: block;
}


/* list style 3
 ------------------------------ */
 
ol.list-style-3 {
	list-style-type: none;
 list-style-type: decimal !ie; /*IE 7- hack*/
	margin: 0;
	margin-left: 18px;
	padding: 0;
	counter-reset: li-counter;
}
ol.list-style-3 li {
	position: relative;
	margin: 0px;
	padding-left: 20px;
	min-height: 3em;
	list-style-type: none;
}
ol.list-style-3 li:before {
	position: absolute;
	top: 0;
	left: -15px;
	width: 28px;
	height: 28px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #f5f5f5;
	border-radius: 50%;
	background-color: #464646;
	content: counter(li-counter);
	counter-increment: li-counter;
}

/* list style 4
 ------------------------------ */
.list-style-4 {
	width: 100%;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	float: left;
}
.list-style-4  .icon {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	float: left;
	text-align: center;
	line-height: 39px;
	color: #fff;
	border-radius: 100%;
}
.list-style-4  .text {
	padding: 5px 0 0 42px;
	margin: 0px;
	display: block;
}
.list-style-4 .icon.red {
	background-color: #fc4242;
}
.list-style-4 .icon.blue {
	background-color: #2f92ee;
}
.list-style-4 .icon.green {
	background-color: #3fc35f;
}
.list-style-4 .icon.violet {
	background-color: #b659fe;
}
.list-style-4 .icon.orange {
	background-color: #ff881e;
}


/* list style 4 with border
 ------------------------------ */

.list-style-4.item-border {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #ececec;
}
.list-style-4.item-border.last {
	padding: 0px 0px 10px 0px;
	border-bottom: none;
}



/*===============================================
-------------------------------------------------
	Message boxes
-------------------------------------------------
================================================*/

/* message boxes
 ------------------------------ */
/*message boxes*/
.messagebox_title {
	padding-bottom: 30px;
}

.success-box {
	background-color: #249a41;
}
.error-box {
	background-color: #e63125;
}
.download-box {
	background-color: #F30;
}
.warning-box {
	background-color: #fbb002;
}
.mboxes_close {
	width: 15px;
	height: 15px;
	padding: 0px;
	margin: 0px;
	float: right;
	text-align: right;
}
.mboxes_close i {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.success-box, .error-box, .warning-box, .info-box span.text-white {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.success-box, .error-box, .warning-box, .info-box {
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.notification {
    border-style: solid;
    border-width: 1px;
    clear: both; display: block;
    font-size: 14px; font-weight: 300;
    line-height: 25px; margin-bottom: 10px;
    min-height: 40px; padding: 15px;
    position: relative; 
}

.boxicon {
    float: left;
    height: 39px; font-size:42px;
    margin-right: 12px !important;
    margin-top: 5px !important;
    width: 40px;
}

.warning {
    background-color: #F2DEDE;
    border-color: #e63125;
    color: #e63125;
}

.success {
    background-color: #9fecb2;
    border-color: #249a41;
    color: #249a41;
}

.infor {
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #666;
}

.notification.blue {
 background-color: #87a9e9;
    border-color: #3174f1;
    color: #fff;
}

.notification.info-box {
	background-color: #3174f1;
}


/*===============================================
-------------------------------------------------
	social icons
-------------------------------------------------
================================================*/

/* social icons
 ------------------------------ */
 
.social-icons-list{
	width:100%;
    margin: 0;
    padding: 0;
}
.social-icons-list li {
    display:inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-icons-list li a {
    color: #242424;
	display:inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
    text-align: center;
    width: 40px;
}

/* social icon sizes
 ------------------------------ */
.social-icons-list.icon-round li a {
	border-radius:100%; 
}


/* social icon sizes
 ------------------------------ */
.social-icons-list.icon-large li a {
    font-size: 40px;
    width: 100px;
	height: 100px;
    line-height: 94px;   
}
.social-icons-list.icon-medium li a {
    font-size: 25px;
    width: 80px;
	height: 80px;
    line-height: 84px;   
}
.social-icons-list.icon-small li a {
    font-size: 18px;
    width: 60px;
	height: 60px;
    line-height: 60px;   
}
.social-icons-list.icon-tiny li a {
    font-size: 14px;
    width: 40px;
	height: 40px;
    line-height: 40px;   
}
.social-icons-list.icon-xtiny li a {
    font-size: 12px;
    width: 30px;
	height: 30px;
    line-height: 27px;   
}

/* social icon colors
 ------------------------------ */
.social-icons-list.dark li a {
    color: #fff;
	background-color: #242424;
}
.social-icons-list.dark li a:hover {
    color: #fff;
	background-color: #3e3e3e;
}

/* social icons light
 ------------------------------ */
.social-icons-list.light li a {
    color: #242424;
	background-color: #fff;
	border:1px solid #e4e4e4;
}
.social-icons-list.light li a:hover {
    color: #fff;
	background-color: #242424;
	border:1px solid #242424;
}

/* social icon red
 ------------------------------ */
.social-icons-list.red li a {
    color: #fff;
	background-color: #f83712;
}
.social-icons-list.red li a:hover {
    color: #fff;
	background-color: #242424;
}

/* social icon blue
 ------------------------------ */
.social-icons-list.blue li a {
    color: #fff;
	background-color: #15cbff;
}
.social-icons-list.blue li a:hover {
    color: #fff;
	background-color: #242424;
}

/* social icon green
 ------------------------------ */
.social-icons-list.green li a {
    color: #fff;
	background-color: #34c23e;
}
.social-icons-list.green li a:hover {
    color: #fff;
	background-color: #242424;
}
/* social icon yellow
 ------------------------------ */
.social-icons-list.yellow li a {
    color: #fff;
	background-color: #fedf0e;
}
.social-icons-list.yellow li a:hover {
    color: #fff;
	background-color: #242424;
}
/* social icon pink
 ------------------------------ */
.social-icons-list.pink li a {
    color: #fff;
	background-color: #f83dab;
}
.social-icons-list.pink li a:hover {
    color: #fff;
	background-color: #242424;
}

/* social icon violet
 ------------------------------ */
.social-icons-list.violet li a {
    color: #fff;
	background-color: #ce3df8;
}
.social-icons-list.violet li a:hover {
    color: #fff;
	background-color: #242424;
}


/*===============================================
-------------------------------------------------
	divider lines
-------------------------------------------------
================================================*/

/* Divider Lines
 ------------------------------ */
.sh-divider-line {
	width: 100%;
}
.sh-divider-line.dashed {
	border-bottom: 1px dashed;
}
.sh-divider-line.solid {
	border-bottom: 1px solid;
}
.sh-divider-line.doubble {
	border-bottom: double;
	line-height:40px;
}
.sh-divider-line.margin {
	padding:5px 0;
}

h4.line{
position: relative;
border-bottom: 2px solid #efeeee;
margin-bottom: 10px;
text-align: left;
font-size: 26px !important;
font-weight: 500; color:#ab263b;
letter-spacing: 0.3px;
padding-bottom: 15px;	
}
h4.line:before {
    background: none repeat scroll 0 0 #ab263b;
    border-bottom: 2px solid;
    bottom: -2px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    width: 25%;
}
.highlighted.orange{
	background:#F30;
	color:#fff; padding:0px 3px;
}
.highlighted.red{
	background:#ab263b;
	color:#fff; padding:0px 3px;
}
.highlighted.green{
	background:#249a41;
	color:#fff; padding:0px 3px;
}
.highlighted.blue{
	background:#3174f1;
	color:#fff; padding:0px 3px;
}
.highlighted{
line-height:26px;
}
/* Divider Line less width
 ------------------------------ */
.sh-divider-line.less-width-1 {
    width: 10%;
	margin:0 auto;
}
.sh-divider-line.less-width-2 {
    width: 20%;
	margin:0 auto;
}
.sh-divider-line.less-width-3 {
    width: 30%;
	margin:0 auto;
}
.sh-divider-line.less-width-4 {
    width: 40%;
	margin:0 auto;
}
.sh-divider-line.less-width-5 {
    width: 50%;
	margin:0 auto;
}
.sh-divider-line.less-width-6 {
    width: 60%;
	margin:0 auto;
}
.sh-divider-line.less-width-7 {
    width: 70%;
	margin:0 auto;
}
.sh-divider-line.less-width-8 {
    width: 80%;
	margin:0 auto;
}
.sh-divider-line.less-width-9 {
    width: 90%;
	margin:0 auto;
}
/* Divider Line colors
 ------------------------------ */
 
 /* Divider Line dark
 ------------------------------ */
.sh-divider-line.dark {
	border-bottom-color:#242424;
}

/* Divider Line light
 ------------------------------ */
.sh-divider-line.light {
	border-bottom-color:#e4e4e4;
}
/* Divider Line red
 ------------------------------ */
.sh-divider-line.red {
	border-bottom-color:#f83712;
}
/* Divider Line green
 ------------------------------ */
.sh-divider-line.green {
	border-bottom-color:#2bc220;
}
/* Divider Line blue
 ------------------------------ */
.sh-divider-line.blue {
	border-bottom-color:#30d1f4;
}


/*===============================================
-------------------------------------------------
	Widget Styles lines
-------------------------------------------------
================================================*/

/* widget holder
 ------------------------------ */
	
.widget-holder {
	width: 100%;
	padding: 30px;
	margin: 0 0 40px 0;
	float: left;
	border: 1px solid #e4e4e4;
}

/* Post widget
 ------------------------------ */

.posts-widget-image {
	padding:0px;
	margin:0px;
	float:left;
}
.posts-widget-text {
	display: block;
    margin: 0;
    padding: 0 0 0 99px;
    text-align: left;
}

.posts-widget-text .blog-post-info {
	width: 100%;
}
.posts-widget-text .blog-post-info span {
	font-size: 13px;
	color: #b9b9b9;
	margin-right: 15px;
}


/* Twitter widget
 ------------------------------ */	
.twitter-widget-icon {
	width: 32px;
	height: 32px;
	padding: 0px;
	font-size: 14px;
	color: #161616;
	text-align: center;
	line-height: 33px;
	margin: 0 10px 0 0;
	float: left;
	border-radius: 100%;
	background-color: #fdce16;
}
.twitter-widget-icon .title {
	width: 85%;
	padding: 5px 0 0 0;
	margin: 0;
	float: right;
}

/* Testimonials widget
 ------------------------------ */	
 
.testimonials-widget {
	width: 100%;
	padding: 0px;
	margin: 0 0 40px 0;
	float: left;
}
.testimonials-widget .text-box {
	width: 100%;
	padding: 30px;
	margin: 0 0 25px 0;
	float: left;
	border: 1px solid #e4e4e4;
}
.testimonials-widget .image {
	width:100px;
	height:100px;
    float: left;
    margin: 0;
    padding: 0;
	overflow:hidden;
	border-radius:100%;
}
.testimonials-widget .info {
    display: block;
    margin: 0;
    padding: 0 0 0 120px;
    text-align: left;
}


.custom_list ul{
	margin:0px; 
	list-style:none;	
}

.custom_list li {
    padding: 1px 1px 1px 0px;
    list-style-type: none;
	line-height:28px;
}

.custom_list li i{ margin-right:5px;}


blockquote{
margin-bottom: 27px;
border: 1px solid #ab263b;
border-left: 8px solid #ab263b;
border-radius: 10px;
border-right: 8px solid #ab263b;
font-size:15px;
}
.fa-ul li{line-height: 24px;}

.fa-ul .fa-circle {
    font-size: 6px;
    padding-right: 5px;
}

.fa-ul .fa {
line-height: 24px;
}

ol li { line-height: 24px !important;}

ol li::before {   
color: #ab263b; line-height: 24px;
margin-right: 10px;
}




@media only screen and (min-width: 1000px) and (max-width: 1169px){
	

	
	}
	
@media only screen and (min-width: 768px) and (max-width: 999px){
	
.img-hover-holder-1 {
    width: 80%;
}
.img-hover-holder-2 {
    width: 80%;
}
.img-hover-holder-3 {
    width: 80%;
}
.img-hover-holder-4 {
    width: 80%;
}

















	}

@media only screen and (min-width: 640px) and (max-width: 767px){
	
.img-hover-holder-1 {
    width: 46%;
}	
.img-hover-holder-2 {
    width: 46%;
}	
.img-hover-holder-3 {
    width: 46%;
}	
.img-hover-holder-4 {
    width: 46%;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	}
	
@media only screen and (min-width: 480px) and (max-width: 639px){
	
.img-hover-holder-1 {
    width: 63%;
}	
.img-hover-holder-2 {
    width: 63%;
}	
.img-hover-holder-3 {
    width: 63%;
}	
.img-hover-holder-4 {
    width: 63%;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	}
	
@media only screen and (max-width: 479px){
	
	
	

	
	}
	
	
	
	
	

