body {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    margin: auto;
  }
  div {
    box-shadow: 0 25px 50px -12px rgb(90, 136, 165);
    width: 500px;
    margin: auto;
    margin-top: 3rem;
  }
  
  caption {
    background-color: rgb(127, 185, 194);
    padding: 1rem;
    font-size: 2.5rem;
  }
  
  thead th {
    color: white;
    background-color: rgb(98, 140, 166);
    padding: 0.5rem;
  }
  
  table,
  th,
  td {
    border: 1px solid rgb(209, 209, 209);
    border-collapse: collapse;
    width: 500px;
  }
  
  td {
    text-align: center;
    padding: 0.5rem;
  }
  tr:nth-child(even) {
    background-color: rgb(197, 233, 206);
  }
  tr {
    background-color: rgb(231, 240, 237);
  }
  tfoot {
    font-size: 1rem;
  }

  
  tfoot tr {
    background-color: rgb(127, 185, 194);
  }
  
  .highlight {
    background-color: rgb(98, 140, 166);
    color: white;
  }